header {
  background-color: lightgreen;
  text-align: center; }

footer {
  background-color: lightgreen;
  text-align: center;
  height: 40px; }

.background {
  background-image: url("../img/pastoGolf.jpg");
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 40px; }

.formularioConsultas {
  text-align: center; }

.caruselMarcas {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 200px;
  height: 500px; }

.backgroundContacto {
  background-color: #ececec;
  margin: 40px;
  padding: 20px; }

.card {
  margin: 40px; }

.card-body {
  background-color: #248b24; }

.col :hover {
  filter: brightness(1.2); }

a {
  text-decoration: none !important; }

.textoCarusel {
  color: white; }

.card-title {
  color: black;
  text-align: center;
  font-size: 50px; }

.card-text {
  color: black;
  text-align: center;
  font-size: 25px; }

.navbar-brand {
  font-size: 40px;
  font-weight: bold; }

.nav-link {
  font-size: 18px; }

.imagenesIndex {
  height: 220px;
  width: 300px;
  pointer-events: none;
  border-radius: 10px; }

.imagenesInicioBase {
  height: 440px;
  width: 920px;
  border-radius: 20px; }

.imagenesProductos {
  height: 420px;
  width: 500px; }

.imagenesClases {
  height: 250px; }

.imagenBanner {
  height: 200px;
  width: 1800px;
  margin-left: 40px; }

* {
  margin: 0;
  padding: 0; }
