@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}

.imagenesIndex {
    height: 220px;
    width: 300px;
    pointer-events: none;
    border-radius: 10px;
}

.imagenesInicioBase {
    @include sizes(920px, 440px);
    border-radius: 20px;
}

.imagenesProductos {
    height: 420px;
    width: 500px;
}

.imagenesClases {
    height: 250px;
}

.imagenBanner {
    height: 200px;
    width: 1800px;
    margin-left: 40px;
}