.imagenesIndex {
    height: 220px;
    width: 300px;
    pointer-events: none;
    border-radius: 10px;
}

.imagenesInicio {
    height: 320px;
    width: 400px;
}

.imagenesProductos {
    height: 420px;
    width: 500px;
}

.imagenesClases {
    height: 250px;
}

.imagenesInicioBase {
    height: 420px;
    width: 900px;
    border-radius: 20px;
}

.imagenBanner {
    height: 200px;
    width: 1800px;
    margin-left: 40px;
}