a {
    text-decoration: none !important;
}

.textoCarusel {
    color: white;
}

.card-title {
    color: black;
    text-align: center;
    font-size: 50px;
}

.card-text {
    color: black;
    text-align: center;
    font-size: 25px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
}